################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor/BlazorTest/obj
/Blazor/.vs/Blazor
